interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://senaps.io/api/analysis/documentnodes/1a766dda-6914-4446-9488-3ae6909930e4?apikey=05a3d68a92ee4b1b8a217fec8e01642c
  response:
    body:
      string: '{"statuscode":404,"message":"The requested resource could not be found."}'
    headers:
      Allow:
      - OPTIONS, GET, POST, PUT
      Content-Type:
      - application/hal+json
      X-RateLimit-Limit-minute:
      - '300'
      X-RateLimit-Limit-second:
      - '100'
      X-RateLimit-Remaining-minute:
      - '299'
      X-RateLimit-Remaining-second:
      - '99'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"groupids": [], "id": "1a766dda-6914-4446-9488-3ae6909930e4", "organisationid":
      "csiro", "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed at ante tortor. Maecenas mauris ex, feugiat vitae purus ac, iaculis aliquet
      justo. Aenean sed hendrerit leo, et vulputate dolor. Quisque id pellentesque
      justo, non consectetur nisi. Nunc sit amet pulvinar dui. Suspendisse non dui
      ante. Ut rhoncus sapien at sapien gravida feugiat. Fusce tristique quam eget
      maximus accumsan. Pellentesque dapibus vulputate varius. Nulla aliquet tellus
      vitae congue fer[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://senaps.io/api/analysis/documentnodes/1a766dda-6914-4446-9488-3ae6909930e4/value?apikey=05a3d68a92ee4b1b8a217fec8e01642c
  response:
    body:
      string: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante
        tortor. Maecenas mauris ex, feugiat vitae purus ac, iaculis aliquet justo.
        Aenean sed hendrerit leo, et vulputate dolor. Quisque id pellentesque justo,
        non consectetur nisi. Nunc[...]
