interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://senaps.io/api/analysis/documentnodes/77e7df34-8f9b-4f95-8eee-fc62ec70f37c?apikey=05a3d68a92ee4b1b8a217fec8e01642c
  response:
    body:
      string: '{"value":"Not Lorem Ipsum!","documentid":"77e7df34-8f9b-4f95-8eee-fc62ec70f37c","valuetruncated":false,"organisationid":"csiro","groupids":[],"type":"document","_links":{"self":{"href":"https://senaps.io/api/analysis/documentnodes/77e7df34-8f9b-4f95-8eee-fc62ec70f37c"},"value":{"href":"https://senaps.io/api/analysis/documentnodes/77e7df34-8f9b-4f95-8eee-fc62ec70f37c/value/"}}}'
    headers:
      Allow:
      - OPTIONS, GET, POST, PUT
      Content-Type:
      - application/json
      X-RateLimit-Limit-minute:
      - '300'
      X-RateLimit-Limit-second:
      - '100'
      X-RateLimit-Remaining-minute:
      - '296'
      X-RateLimit-Remaining-second:
      - '99'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"groupids": [], "id": "77e7df34-8f9b-4f95-8eee-fc62ec70f37c", "organisationid":
      "csiro", "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nulla aliquet magna vel dapibus rutrum. Phasellus laoreet orci vel magna tristique,
      dictum sodales arcu hendrerit. Nullam id euismod turpis. Vestibulum in nisi
      eu turpis elementum aliquet eu ac nibh. Integer eget elit nec neque scelerisque
      euismod. Morbi luctus turpis dictum lorem sodales, eget gravida nunc iaculis.
      Nulla a dia[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://senaps.io/api/analysis/documentnodes/77e7df34-8f9b-4f95-8eee-fc62ec70f37c/value?apikey=05a3d68a92ee4b1b8a217fec8e01642c
  response:
    body:
      string: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet
        magna vel dapibus rutrum. Phasellus laoreet orci vel magna tristique, dictum
        sodales arcu hendrerit. Nullam id euismod turpis. Vestibulum in nisi eu turpis
        elementum aliquet eu[...]
